<div class="container-xl p-md-4 p-3 ">
    <div class="row mx-0">
        <div class="header card p-4 text-center mb-4 col-md-12 bg-primary px-md-2 px-0">
            <h1 class="title text-center">{{selectedParam?.title || (isPage == 'blog'?'Blogs':'News')}}</h1>
            <p class="px-4" *ngIf="page" [innerHtml]="selectedParam?.content || selectedParam?.description"></p>
            <p class="px-4" *ngIf="!page"> <em>“ If we have to fight, we must fight clean. Such a fight must await an appropriate time and conditions and you must be watchful in choosing your ground. To fight against refugees is no fight at all. No laws of humanity or war among honourable men permit the murder of people who have sought shelter and protection.” </em></p>
        </div>
        <div class="col-md-12 px-md-2 px-0" *ngIf="page">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/{{isPage}}">{{isPage|titlecase}}</a></li>
                    <li class="breadcrumb-item" [attr.aria-valuenow]="page"><a routerLink="/{{isPage}}/{{page=='Category' ? 'category' : 'tag'}}">{{page}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{selectedParam?.title}}</li>
                </ol>
            </nav>
        </div>
        <div class="col-lg-3 col-md-6 row mx-0  px-0 d-md-none d-block">
            <div class="col-12 px-md-2 px-0">
                <div class="w-100 border-bottom">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput type="search" placeholder="Search {{isPage}}" [(ngModel)]="searchQuery" (ngModelChange)="pageNumber=1">
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="w-100 detailPage py-3 border-bottom" *ngIf="categories.length">
                    <mat-card class="card nav flex-column w-100">
                        <div class="card-header">
                            <div class="title" routerLink="/{{isPage}}/category" role="button">Categories</div>
                        </div>
                        <a *ngFor="let cat of categories" class="text-muted text-decoration-none h6 nav-item px-2 pt-2" routerLink="/{{isPage}}/category/{{cat.slug}}" role="button">
                            {{cat.title}} <span class="ms-1 rounded-pill text-white bg-aqua-blue px-2" *ngIf="cat?.posts">{{cat.posts}}</span>
                        </a>
                    </mat-card>
                </div>
                <div class="w-100 detailPage py-3 border-bottom" *ngIf="tags.length">
                    <mat-card class="card nav flex-column w-100">
                        <div class="card-header">
                            <div class="title" routerLink="/{{isPage}}/tag" role="button">Tags</div>
                        </div>
                        <a *ngFor="let tag of tags" class="text-muted text-decoration-none h6 nav-item px-2 pt-2" routerLink="/{{isPage}}/tag/{{tag.slug}}" role="button">
                            {{tag.title}} <span class="ms-1 rounded-pill text-white bg-aqua-blue px-2" *ngIf="tag?.posts">{{tag.posts}}</span>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-6 position-relative px-0">
            <app-skeleton *ngIf="loading"></app-skeleton>

            <div class="row mx-0 post-card" *ngIf="posts?.length>0 && !loading">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-4 px-md-2 px-0" *ngFor="let post of (posts | multiKeyFilter:['title', 'categories.title', 'content']:searchQuery) | paginate: { itemsPerPage: 12, currentPage: pageNumber }">
                    <!-- <div class="col-md-4 mb-4"> -->
                    <div class="post-item card h-100">
                        <img loading="lazy" role="button" routerLink="/{{isPage}}/{{post.slug}}" src="{{post?.thumbnail || post?.image}}" class="card-img-top" alt="{{post?.title}}">
                        <a class="img-badge badge text-bg-warning" routerLink="/{{isPage}}/category/{{post?.categories?.slug}}">{{post?.categories?.title}}</a>
                        <a class="position-absolute top-0 mt-2 me-2 end-0" target="_blank" *ngIf="isPage == 'khabar' && post.url" href="{{post.url}}">
                            <button class="bg-warning " mat-button mat-raised-button color="primary">News Insights</button>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title h1" routerLink="/{{isPage}}/{{post.slug}}" role="button">{{post.title}}</h2>

                            <p class="card-text"><small class="text-muted">Posted on: {{post.timestamp | date:'MMM d, y' }}</small></p>
                            <div class="card-text postcontent" [innerHtml]="(post.content?.length>120) ? (post.content | slice:0:120)+'...' : (post.content)"></div>
                            <!-- <button mat-button mat-raised-button color="primary" routerLink="/{{isPage}}/{{post.slug}}" role="button">Read More</button> -->
                            <!-- <div class="w-100 d-flex mt-3 flex-wrap" *ngIf="post?.tags && post?.tags?.length">
                                <ng-container *ngFor="let tag of post.tags">
                                    <a class="badge rounded-pill btn btn-outline-info text-info">{{tag?.title}}</a>&nbsp;&nbsp;
                                </ng-container>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center py-5" *ngIf="posts?.length==0 && !loading">
                <h2 class="h1"> No Posts Found...</h2>
            </div>

            <div class="text-center" *ngIf="posts?.length>12">
                <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
            </div>
            <span class="section-split d-none d-md-block"></span>
        </div>
        <div class="col-lg-3 col-md-6 row mx-0  px-0 d-md-block d-none">
            <div class="col-12 px-md-2 px-0">
                <div class="w-100 border-bottom">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Search</mat-label>
                        <input matInput type="search" placeholder="Search {{isPage}}" [(ngModel)]="searchQuery" (ngModelChange)="pageNumber=1">
                        <mat-icon matPrefix>search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="w-100 detailPage py-3 border-bottom" *ngIf="categories.length">
                    <mat-card class="card nav flex-column w-100">
                        <div class="card-header">
                            <div class="title" routerLink="/{{isPage}}/category" role="button">Categories</div>
                        </div>
                        <a *ngFor="let cat of categories" class="text-muted text-decoration-none h6 nav-item px-2 pt-2" routerLink="/{{isPage}}/category/{{cat.slug}}" role="button">
                            {{cat.title}} <span class="ms-1 rounded-pill text-white bg-aqua-blue px-2" *ngIf="cat?.posts">{{cat.posts}}</span>
                        </a>
                    </mat-card>
                </div>
                <div class="w-100 detailPage py-3 border-bottom" *ngIf="tags.length">
                    <mat-card class="card nav flex-column w-100">
                        <div class="card-header">
                            <div class="title" routerLink="/{{isPage}}/tag" role="button">Tags</div>
                        </div>
                        <a *ngFor="let tag of tags" class="text-muted text-decoration-none h6 nav-item px-2 pt-2" routerLink="/{{isPage}}/tag/{{tag.slug}}" role="button">
                            {{tag.title}} <span class="ms-1 rounded-pill text-white bg-aqua-blue px-2" *ngIf="tag?.posts">{{tag.posts}}</span>
                        </a>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>