.Postdetails {
    .cat-item {
        font-size: 16px;
        padding: 8px;
        display: inline-flex;
        &:hover {
            color: white !important;
        }
        mat-icon {
            height: 16px !important;
            width: 16px !important;
            font-size: 16px !important;
            margin-right: 4px;
        }
    }
    .section-split {
        right: 0px;
        position: absolute;
        height: 100%;
        top: 0px;
        border-right: 1px solid #dee2e6;
    }
    .recent-post-img,
    .comment-user-img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-right: 8px;
        background-color: #dee2e6;
        object-fit: cover;
    }
    .recent-post:hover {
        transform: scale(1.05);
        background-color: #f0f0f0;
        border-radius: 5px;
    }
    .reply-card {
        background-color: #f0f0f0;
    }
    .tag-item {
        font-size: 16px;
        padding: 8px;
        display: inline-flex;
        &:hover {
            color: white !important;
        }
        mat-icon {
            height: 16px !important;
            width: 16px !important;
            font-size: 16px !important;
            margin-right: 4px;
        }
    }
    .msg-text {
        white-space: pre-wrap;
    }
}