.mainsidebar {
    height: 100vh;
}

.notifyBar {
    width: 25vw;
    min-width: 320px;
    .mat-drawer-inner-container {
        position: relative;
    }
    .notify-footer {
        background-color: var(--primary-bg-color);
    }
    mat-card:hover {
        background-color: var(--primary-bg-color);
        color: var(--text-color);
    }
    .readed {
        color: #8696A0;
    }
    .readed:hover {
        color: var(--text-color) !important;
    }
}

.side2 {
    // .mainsidebar{
    // 	display: block;
    // 	max-height: 100vh;
    // 	overflow: auto;
    // }
    .app-message-open {
        // // max-height: 100vh;
        // max-height:unset !important;
        // height: 100%;
        overflow-y: hidden;
    }
}

.side-tab.active {
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    margin-top: 5px !important;
}

.side-bar-header {
    padding: 0 8px !important;
}

.side-bar-header.active {
    background-color: var(--primary-bg-color) !important;
    span,
    mat-icon,
    .mat-expansion-indicator::after,
    .mat-mdc-list-item-unscoped-content {
        color: var(--text-color) !important;
    }
}

.sidenav {
    width: 260px;
}

.sidenav-container {
    .mat-expansion-panel {
        box-shadow: unset !important;
    }
    .mat-expansion-panel-header.mat-expanded {
        height: var(--mat-expansion-header-collapsed-state-height);
    }
}

.side-bar-header.active:hover {
    background-color: var(--primary-bg-color) !important;
}

.mat-sidenav-content {
    .nav-p-img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-left: 8px;
        margin-bottom: 5px;
    }
    .sltedCompany {
        min-width: 160px;
        margin-left: 15px;
        background-color: #eeeeee;
        border-radius: 5px;
        mat-label {
            font-size: small;
            color: black;
            margin-left: 5px;
        }
        span {
            font-size: smaller;
            color: var(--primary-color);
            margin-left: 3px;
            display: inline-block;
            margin-top: -2px;
        }
        .mat-select-arrow {
            margin-right: 7px;
            margin-top: 6px;
            color: #000;
        }
        .mat-form-field-appearance-fill .mat-form-field-flex {
            padding: 0 !important;
        }
        .mat-form-field-flex {
            margin-top: 0;
        }
         ::ng-deep {
            .mat-mdc-form-field-subscript-wrapper {
                display: none;
            }
            .mat-mdc-form-field-infix {
                max-height: 40px !important;
                min-height: unset;
                padding: 8px 0px !important;
            }
            .mdc-text-field .mdc-floating-label {
                top: 50%
            }
        }
    }
    .tsMatToolbar {
        margin-bottom: 20px;
        z-index: 100000;
        background-color: var(--primary-bg-color) !important;
        color: var(--text-color);
        padding: 0;
        z-index: 9;
        box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%), 0px 2px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
        position: sticky;
        top: 0px !important;
        .mat-grid-list {
            width: 100%;
            .companyListSide {
                .mat-grid-tile-content {
                    justify-content: flex-start;
                }
            }
            .menuBtnSide {
                .mat-grid-tile-content {
                    justify-content: flex-end;
                }
                .reminderAlarm {
                    width: 30px;
                    height: 30px;
                    line-height: unset;
                    margin-right: 5px;
                    background-color: transparent;
                    box-shadow: none;
                    .mat-button-wrapper {
                        padding: 0;
                    }
                    .mat-icon {
                        line-height: 0.6;
                    }
                }
                .taskNotification {
                    width: 30px;
                    height: 30px;
                    line-height: unset;
                    margin-right: 10px;
                    background-color: transparent;
                    box-shadow: none;
                    .mat-button-wrapper {
                        padding: 0;
                    }
                    .mat-icon {
                        line-height: 0.6;
                    }
                }
            }
        }
        .mat-form-field-flex {
            background-color: unset;
        }
    }
}

@media only screen and (max-width: 400px) {
    .sltedCompany {
        min-width: unset !important;
        max-width: 120px !important;
    }
}

@media screen and (max-width: 1500px) {
    .sidenav {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .sidenav,
    .notifyBar {
        width: 100vw;
    }
}